/* this file includes all API things  */

/* fonts  */

/* 
go green : bree serif
toward..... : merienda 
navigation : roboto slab 
intro text :delius
intro slider text : courgette 
form : ballu thamudu 
general : harmatan  
*/

/* 
-----------for implementation of fonts ----------------- 

font-family: 'Baloo Tammudu 2', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Courgette', cursive;
font-family: 'Delius', cursive;
font-family: 'Harmattan', sans-serif;
font-family: 'Merienda', cursive;
font-family: 'Roboto Slab', serif;
*/

/* <span class="material-icons-outlined">
call
</span>

<span class="material-icons-outlined">
email
</span>

<span class="material-icons-outlined">
location_on
</span>

<span class="material-icons-outlined">
arrow_right_alt
</span>

<span class="material-icons-outlined">
print
</span>

<span class="material-icons-outlined">
android
</span> */


